*/{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/fondo-flex.jpg);
    background-size: 100vw 100vh;
}

main{
   
    flex-direction: row;
}

.mastercontainer{
    height: 97vh;
    width: 99vw;
    display: flex;
    
}

.estandar{
    width: 200px;
    height: 200px;
}
.imagen1{  
    transform: translateY(80px);  
}
.imagen2{
    transform: translatey(-80px);
}
.imagen3{
    width: 200px;
    height: 200px;
}
.imagen4{
    transform: translatey(-80px);;   
}
.imagen5{  
    transform: translatey(80px);;   

}

.container1{
    display: flex;  
    align-items: center;
}
.container2{
    display: flex;  
    align-items: center;
    justify-content: center;
    width: 400px;
}
.container3{
    display: flex;
    align-items: end;
    width: 300px;
}
.container4{
    display: flex;
    align-items: center;
    width: 400px;
}

.container5{
    display: flex;
    align-items: center;
}